@using DAL.Enums
@{
    Layout = "_LoggedUserLayout";
}

<!-- Main menu -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">BeYourBest</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a id="urgentTasksLink" href="#">Pilne zadania</a></li>
                <li><a id="goalsLink" href="#">Cele</a></li>
                <li><a id="categoriesLink" href="#">Kategorie</a></li>
                <li><a id="otherTasksLink" href="#">Zadania bez kategorii</a></li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</div>
<!-- /Main menu -->


<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
    </div>
    @*@await Component.InvokeAsync("LeftMenu", new { elementsType = LeftMenuElementsType.Category })*@
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Tu będzie lista zadań</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
